@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PlanFort.Models.ViewModels.ViewTripsViewModel


<ul class="list-group">

    @foreach (var trip in Model.Trips)
    {

        <li class="list-group-item">
            <h5>Trip:</h5>
            <h6>city: @trip.City</h6>
            <h6>Date of Trip: @trip.DateOfTrip</h6>
            @foreach (var city in Model.Weather)
            {
                if (city.Name == trip.City)
                {
                    <h6>Weather: @city.Temp Degrees</h6>
                    <h6>Condition: @city.Description</h6>
                    break;
                }
            }
            <button type="button" class="btn btn-outline-danger" asp-controller="Delete" asp-action="DeleteTrip" asp-route-tripId="@trip.TripID">Delete Trip</button>
            @if (trip.IsComplete == true)
            {
                <label>Is Trip Complete?</label>
                <input type="checkbox" checked onclick="return false">
            }
            else
            {
                <label>Is Trip Complete?</label>
                <input type="checkbox" unchecked>
                <br />
                <button type="button" class="btn btn-outline-success" asp-controller="Update" asp-action="MarkTripComplete" asp-route-tripId="@trip.TripID">Mark Trip Complete</button>
            }
            @foreach (var item in Model.Events)
            {
                if (item.ParentTripId == trip.TripID)
                {

                    <h6>Events:</h6>
                    <p>Venue Name: @item.name</p>
                    <p>Event Address: @item.address </p>
                    <p> Performer  : @item.performerName</p>
                    <button type="button" class="btn btn-outline-danger" asp-controller="Delete" asp-action="DeleteEvent" asp-route-seatGeekChildId="@item.SeatGeekChildId">Delete Event</button>

                }
            }


            @foreach (var business in Model.Businesses)
            {
                if (business.ParentTripId == trip.TripID)
                {

                    <h6>Businesses:</h6>
                    <p>Venue Address: @business.address1 @business.address2 @business.address3</p>
                    <p>Business Name: @business.name </p>
                    <p> Phone Number: @business.phoneNumber</p>
                    <button type="button" class="btn btn-outline-danger" asp-controller="Delete" asp-action="DeleteBusiness" asp-route-yelpChildId="@business.YelpChildId">Delete Business</button>

                }
            }
            <button type="button" class="btn btn-outline-success" asp-controller="Business" asp-action="BusinessFormResult" asp-route-city="@trip.City" asp-route-TripId="@trip.TripID">Add Business</button>
        </li>

    }
</ul>